nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  font-size: 24px;
  color: lightgray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#nav-links {
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-links a {
  text-align: start;
}

#logo {
  justify-items: center;
  margin-bottom: 25px;
  -webkit-animation: rotation 16s infinite;
          animation: rotation 16s infinite;
  animation-direction: reverse;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

a {
  width: 50%;
  height: 50%;
  text-decoration: none;
  color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

a:hover {
  color: orange;
}

header {
  font-family: 'VT323', monospace;
  color: #008106;
  font-weight: bold;
  text-align: left;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

.blink_me {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#earth {
  -webkit-animation: rotation 240s infinite linear;
          animation: rotation 240s infinite linear;
  margin-bottom: 10px;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 35px;
  right: 60px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
}

.my-float {
  margin-top: 22px;
}

@media screen and (max-width: 767px) {
  .sun {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  h1, h2, h3 {
    font-size: 35px;
  }
  #portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #nav-links {
    width: 50%;
    height: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 30px;
  }
}

.sun {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 90%;
  top: 80%;
  margin: -200px 0 0 -200px;
  border-radius: 50%;
  background: radial-gradient(circle at 65% 15%, white 1px, #ffe469 3%, #FECC51 60%, #ffe469 100%);
}

* {
  margin: 0;
  padding: 0;
}

#portfolio {
  margin-bottom: 100px;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.bodytext {
  margin: 15px;
}

#spaceman {
  -webkit-animation: rotation 25s infinite linear;
          animation: rotation 25s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#spaceman1 {
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
  animation-direction: reverse;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#spaceman2 {
  -webkit-animation: rotation 60s infinite linear;
          animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#moon {
  -webkit-animation: rotation 60s infinite linear;
          animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#me {
  font-size: xx-large;
  gap: 15px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 400px;
  color: orange;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section {
  height: 200px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 200px;
  gap: 25px;
}

.sectiontag {
  margin: 15px;
}

body {
  font-family: 'VT323', monospace;
  color: #008106;
  font-weight: bold;
  text-align: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  background-image: url(./images/space_background.jfif);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

#stack {
  font-size: xx-large;
  gap: 15px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 400px;
  color: orange;
}

h3 {
  color: #008106;
  padding: 15px;
}

footer {
  font-size: 24px;
}
/*# sourceMappingURL=styles.css.map */